.skill-tag {
  background-color: #007BFF;
  color: white;
  font-size: small;
  border-radius: 32px;
  padding: 5px 17px;
}

.dismiss-button {
  color: white;
  position: absolute;
  top: 1vh;
  right: 1vw;
  font-size: 1rem;
  cursor: pointer;
  text-shadow:
    -1px -1px 1px grey,
     1px -1px 1px grey,
    -1px 1px 1px grey,
     1px 1px 1px grey;

    &:hover {
      text-shadow:
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black,
        1px 1px 0px black;
    }
}
