<div class="about-me pt-3 pl-3">
  <h2 class="section-header">About Me</h2>
  <div class="d-flex">
    <div class="pl-4">
      <div class="profile-text mb-5">
        <p>I'm originally from <u>Aberystwyth</u>, Wales, and now based in Glasgow.</p>
        <p>Currently, I'm studying Professional Software Development at <u>CodeClan</u>. I'm new to programming but am thoroughly enjoying the challenge and creative thinking required.</p>
        <p>Long-distance backpacking is a real passion of mine - in 2017 I hiked <u>Te Araroa</u>, hiking the entire length of New Zealand - over 3000km. I've walked a few other long trails as well since then, including the Cambrian Way and the Hebridean Way.</p>
        <p>One of the main reasons I moved up to Scotland back in 2017 was to enjoy <u>the great outdoors</u>. I'm slowly working my way through the Munros and Corbetts whenever the weather allows!</p>
        <p><u>I love reading</u>. Mainly history, non-fiction and some fantasy here and there. I'm a big George R. R. Martin fan.</p>
        <p>If it's a rainy day and I'm not out walking, I would probably be want to be at home, <u>cooking and listening to music</u>, enjoying a coffee.</p>
      </div>
      <div>
        <h3 class="section-header mb-4">My Tech Stack</h3>
        <div class="tech-stack-skills">
          <div *ngFor="let tech of techStack" class="d-flex align-items-center flex-column justify-content-between w-100">
            <img src="../../assets/icons/{{tech.icon}}" alt="{{tech.name}}-icon" width="100" class="img-fluid"/>
            <span class="mt-1 font-weight-bold">{{tech.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center flex-column">
      <div class="profile-pic mb-3"></div>
      <h2 class="text-center font-weight-bold mb-4">Dafydd Pearson</h2>
      <h3><i class="fas fa-map-marker-alt mb-4"></i> Glasgow, Scotland</h3>
      <h5><i class="fas fa-mountain mb-4"></i> 41 / 282 Munros bagged</h5>
      <span class="highlight text-center">&lt; Software Developer, thinkWhere &gt;</span>
    </div>
  </div>
</div>
