<div class="about-me pt-3">
  <h2 class="section-header mb-4">About Me</h2>
  <div class="d-flex mb-5 mt--8vh align-items-center justify-content-between">
    <div class="light-block p-3 ml-3 align-self-start">
      <p class="mt-5">
        I'm originally from <u>Aberystwyth</u>, Wales, and now based in Glasgow.
        <br><br>
        Long-distance backpacking is a real passion of mine - in 2017 I hiked
        <u>Te Araroa</u>, hiking the entire length of New Zealand - over 3000km.
        I've walked a few other long trails as well since then, including the
        Cambrian Way and the Hebridean Way.
        <br><br>
        One of the main reasons I moved up to Scotland back in 2017 was to enjoy
        <u>the great outdoors</u>. I'm slowly working my way through the Munros
        and Corbetts whenever the weather allows!
      </p>
      <div class="about-me-icons d-flex justify-content-center align-items-center">
        <a href="https://github.com/DafyddLlyr" target="_blank" title="Github Profile">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/dafyddpearson/" target="_blank" title="LinkedIn Profile">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.freecodecamp.org/dafyddllyr" target="_blank" title="freeCodeCamp Profile">
          <i class="fab fa-free-code-camp"></i>
        </a>
        <a href="mailto:dafyddllyr@gmail.com" target="_blank" title="Email me">
          <i class="far fa-envelope"></i>
        </a>
        <a href="../../assets/Dafydd Pearson.pdf" title="Download CV">
          <i class="far fa-file-pdf"></i>
        </a>
      </div>
    </div>
    <div
    class="d-flex flex-column h-100 ml-3"
    >
      <h2 class="text-center font-weight-bold mb-4 text-nowrap">Dafydd Pearson</h2>
      <div class="d-flex">
        <div class="profile-pic mr-3"></div>
        <div class="d-flex flex-column justify-content-around">
          <h4><i class="fas fa-map-marker-alt fa-fw"></i> Glasgow, Scotland</h4>
          <h4><i class="fas fa-mountain fa-fw"></i> 41 / 282 Munros bagged</h4>
          <h4><i class="fas fa-user-tie fa-fw"></i> Software Developer</h4>
          <h4><i class="far fa-building fa-fw"></i> thinkWhere</h4>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="section-header mb-3">My Tech Stack</h3>
    <div class="tech-stack-skills">
      <div
        *ngFor="let tech of techStack"
        class="d-flex align-items-center flex-column justify-content-between w-100"
      >
        <img
          src="../../assets/icons/{{ tech.icon }}"
          alt="{{ tech.name }}-icon"
          width="100"
          class="img-fluid"
        />
        <span class="mt-1 font-weight-bold">{{ tech.name }}</span>
      </div>
    </div>
  </div>
</div>
