<div class="vh-100">
  <div class="mountain-container h-100">
    <div class="mountain mountain-1"><p>&nbsp;</p></div>
    <div class="mountain mountain-2"><p>&nbsp;</p></div>
    <div class="mountain mountain-3"><p>&nbsp;</p></div>
    <span class="text-white intro-text">Dafydd Pearson</span>
    <div class="mountain mountain-4"><p>&nbsp;</p></div>
    <span class="text-white description-text text-nowrap">Full Stack Developer</span>
    <div class="mountain mountain-5"><p>&nbsp;</p></div>
    <div class="mountain mountain-6"><p>&nbsp;</p></div>
  </div>
</div>
