<div class="contact pt-3">
  <h2 class="section-header">Contact</h2>
  <div class="d-flex justify-content-center align-items-center vh-60">
    <div class="light-block m-5 text-center p-5">
      <p>I'm currently looking for web development opportunities or freelance projects.</p>
      <p>If you would like to discuss a project or opportunity, please do not hesitate to get in touch.</p>
      <a class="btn btn-primary btn-lg mt-4 text-nowrap">
        Get in touch!
        <a href="mailto:dafyddllyr@gmail.com" target="_blank" class="ml-2 text-white">
          <i class="far fa-envelope"></i>
        </a>
      </a>
    </div>
  </div>
</div>
