<div class="app-container">
  <section>
    <app-hero></app-hero>
  </section>
  <section class="d-flex justify-content-center">
    <app-about-me></app-about-me>
  </section>
  <section class="d-flex justify-content-center">
    <app-portfolio-container></app-portfolio-container>
  </section>
  <section class="d-flex align-items-center flex-column">
    <app-contact></app-contact>
    <footer class="footer-bottom d-flex justify-content-center align-items-center">
      <span>
        <i class="fas fa-code"></i> by Dafydd Pearson with <i class="fas fa-music"></i> and <i class="fas fa-coffee"></i>
      </span>
    </footer>
  </section>
</div>
