<div class="app-container">
  <section>
    <app-hero></app-hero>
  </section>
  <section class="d-flex justify-content-center">
    <app-about-me></app-about-me>
  </section>
  <section class="d-flex justify-content-center">
    <app-portfolio-container></app-portfolio-container>
  </section>
  <section class="d-flex align-items-center flex-column">
    <app-contact></app-contact>
    <footer>
      <div class="footer-upper d-flex justify-content-center align-items-center">
        <a href="https://github.com/DafyddLlyr" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/dafyddpearson/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.freecodecamp.org/dafyddllyr" target="_blank">
          <i class="fab fa-free-code-camp"></i>
        </a>
        <a href="mailto:dafyddllyr@gmail.com" target="_blank">
          <i class="far fa-envelope"></i>
        </a>
      </div>
      <div class="footer-bottom d-flex justify-content-center align-items-center">
        <span>
          <i class="fas fa-code"></i> by Dafydd Pearson with <i class="fas fa-music"></i> and <i class="fas fa-coffee"></i>
        </span>
      </div>
    </footer>
  </section>
</div>
