<div class="portfolio-item" (mouseover)="isTextVisible=true" (mouseleave)="isTextVisible=false" (click)="openPortfolioModal(item)">
  <img src="../../../assets/portfolio/{{item.src}}" class="img-fluid" [ngClass]="{'opacity-2': isTextVisible}">
  <div *ngIf="isTextVisible" class="portfolio-item-text d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-center font-weight-bold">{{ item.title }}</h3>
    <h4 class="mb-5 italic small">{{ item.subtitle }}</h4>
    <button class="btn btn-primary">More Info</button>
  </div>
</div>
